// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	margin: 0;
	padding: 0;
}

#content {
	padding: 2em;
}

footer {
}

#footer-bar {
	position: fixed;
	opacity: .3;
	height: 65px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#footer-bar:hover {
	background: #666;
	opacity: 1;
}

#footer-text {
	text-align: center;
	position: fixed;
	bottom: 0px;
 	right: 30%;
	left: 30%;
	padding: 1em;
}

.holder {
    margin-bottom: -2em;
}

.holder2 {
	margin-left: 1em;
}

#home-search input {
	width: 400px;
	height: 40px;
}

a {
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

.yeast-info {
	margin-right: 3em;
}



/*add as partial*/

.center {
	text-align: center;
}

.small-top-margin {
	margin-top: 2em;
}

.hide {
	display: none;
}

.highlight {
	font-size: 120%;
}