<div id="footer-bar">
  <div id="footer-text">
  	This site uses data from <%= link_to "YeastBot", 
		"https://docs.google.com/spreadsheet/ccc?key=0AmRc5_x3ehAfdFhBQ3pmczhqdHUtbmFONUYyZzVEY0E" %>
		<br />
		Click <%= link_to "here", "http://www.thesaq.net/beer/yeast" %> to submit changes and/or additions
  </div>
</div>
